@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* page settings */
  font-size: 16px;
  /* page vars */
  --editorColor1: rgb(255, 255, 255);
  --editorColor2: rgb(207, 207, 207);
  --editorColor3: rgb(143, 143, 143);
  --editorColor4: rgb(95, 95, 95);
  --editorColor5: rgb(48, 48, 48);
  --editorColor6: rgb(24, 24, 24);
  --green: green;
  --red: darkRed;
  --blueTransperent: rgba(93, 255, 247, 0.5);
  --redTransperent: rgb(168, 19, 19, 0.5);
  --editorTransitions: 0.2s;
  --channelHeightOpen: 15rem;
  --channelHeightClose: 5rem;
}
/* page settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
/* GLOBAL CSS */
a {
  text-decoration: none;
  color: var(--editorColor1);
  transition: 0.2s;
}
a:hover {
  color: var(--editorColor3);
}
.btn {
  z-index: 1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
body {
  background: var(--editorColor6);
  color: var(--editorColor2);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  text-align: center;
  background: var(--editorColor6);
  color: var(--editorColor2);
}
.header {
  padding: 1rem;
}
/* .invisible {
  display: none;
} */

.unclickable {
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  background: var(--editorColor6);
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--editorColor2);
  border-radius: 20px;
}

/* WELCOME PAGE */
.page {
  width: 100%;
  height: 100%;
  position: relative;
}
.background-img {
  opacity: 0.15;
}

.welcome-page {
  height: calc(100vh - 8rem);
  width: calc(100vw - 4rem);
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-page h3,
h4 {
  font-size: 2rem;
  color: var(--editorColor1);
}
.welcome-page h3,
.welcome-page h4,
.welcome-page p,
.welcome-page li {
  text-shadow: 2px 2px 3px var(--editorColor6);
}

.features-list {
  width: 50%;
  text-align: left;
}
.welcome-page ul {
  list-style: none;
  text-align: left;
  width: 60%;
}
.welcome-page li {
  margin-bottom: 0.5rem;
  transition: 0.2s;
}
.welcome-page li:hover {
  color: var(--editorColor1);
}

.editor-link {
  scale: 1.3;
}
/* WELCOME PAGE BACKGROUND */

.background {
  position: absolute;
  z-index: 1;
  width: 70vw;
  right: 0;
  height: calc(100vh - 8rem);
  opacity: 0.7;
}
.background canvas {
  /* width: 20rem; */
}

.box-image {
  pointer-events: none;
  user-select: none;
}

/* FORM */

.timeline-settings-form,
.settings-buttons {
  color: var(--editorColor6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.inputs-container {
  display: flex;
}

/* FORM - inputs */
.fps-input,
.frames-input,
.settings-btn-container {
  color: var(--editorColor2);
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  transition: 0.2s;
  max-width: 9rem;

  width: fit-content;
}

.frames-input label,
.settings-btn-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.2rem;
}
.settings-buttons .settings-btn-container {
  cursor: pointer;
}
.settings-buttons .settings-btn-container:hover {
  color: var(--editorColor1);
}
.inputs-container input,
.settings-btn {
  border: 0;
  text-align: center;
  border-radius: 0 0 20px 20px;
  padding: 0.5rem;
  outline: none;
  background: var(--editorColor2);
  color: var(--editorColor5);
  font-weight: bold;
  transition: 0.2s;
  width: 100%;
  max-width: 100%;
}

.settings-btn:hover,
.inputs-container input:hover,
.settings-btn-container:hover .settings-btn {
  background: var(--editorColor1);
}
.inputs-container input:focus {
  color: var(--editorColor5);
  background: var(--editorColor1);
}
.settings-btn svg {
  scale: 1.6;
}

.add-channel-icon {
  color: var(--editorColor2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-0.8rem);
}
.add-channel-icon svg {
  font-size: 1.2rem;
}
.add-channel-btn {
  border-radius: 20px 20px 0 0;
  padding: 0.3rem 0.5rem;
  outline: none;

  background: none;
  color: var(--editorColor2);
  font-size: 1rem;
}
.add-channel-btn:hover {
  background: var(--editorColor6);
}

/* EDITOR */
.editor,
.settings-panel {
  border-radius: 20px;
  background: var(--editorColor5);
  margin: 1.5rem 5rem;
  border: solid 1px var(--editorColor3);
  position: relative;
}
.panel-title {
  position: absolute;
  top: -1rem;
  left: 1rem;
}
/* settings panel */
.settings-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* tools panel */
/* EDITOR - control panel */
.editor-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

/* EDITOR - control panel - time display */
.time-display {
  width: 20rem;
  border-radius: 20px;
  background: var(--editorColor2);
  color: var(--editorColor5);
  transition: 0.2s;
  z-index: 2;
  font-size: 2rem;
}

/* EDITOR - control panel - zoon in/out fader */
.zoom-container {
  display: flex;
  align-items: center;
  color: var(--editorColor2);
}
.zoom-container span {
  font-size: 2rem;
  color: var(--editorColor2);
  display: flex;
  align-items: center;
}
.zoom-fader-container {
  width: 15.3rem;
  height: 2rem;
  background: var(--editorColor2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.zoom-fader {
  width: 15rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
.zoom-fader-handle {
  background: var(--editorColor4);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
.zoom-fader-handle:hover {
  background: var(--editorColor3);
}
.zoom-fader-handle:active {
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 1rem var(--editorColor5);
}

/* EDITOR - timeline */
.timeline-container {
  display: flex;
  background: var(--editorColor5);
  color: var(--editorColor1);
  border-top: solid 1px var(--editorColor3);
  border-radius: 0 0 20px 20px;
}
.frames {
  overflow-x: scroll;
  overflow-y: hidden;
}
.frames::-webkit-scrollbar {
  background: var(--editorColor5);
  height: 1.5rem;
  border-radius: 0 0 20px 0;
  outline: solid 1px var(--editorColor3);
}
.frames::-webkit-scrollbar-thumb {
  background: var(--editorColor2);
  border-radius: 0 0 20px 0;
}

.timeline {
  display: flex;
  width: fit-content;
  transition: var(--editorTransitions);
}

.frame,
.channel {
  transition: var(--editorTransitions);
  border-right: solid 1px var(--editorColor3);
  border-bottom: solid 1px var(--editorColor3);
}
/* individual frame */
.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame-value {
  z-index: 1;
}
.frame-value span {
  cursor: pointer;
}
.frame-value input {
  color: var(--editorColor1);
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  width: 100%;
  text-align: center;
  border: none;
  background: 0;
  background: var(--editorColor5);
}
.frame-value input:focus {
  outline: none;
}

/* Frame fader controller  */
.frame-fader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

.frame-fader-inner {
  height: 100%;
  width: 100%;
  /* rotate: 180deg; */
}
.frame-fader {
  height: 100%;
  width: 100%;
}
.frame-fader-handle {
  background: var(--editorColor6);
  opacity: 0.5;
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 10;
}
.frame-fader-handle:hover {
  background: var(--editorColor3);
}
.frame-fader-handle:active {
  border-top: solid 1px var(--editorColor2);
  border-bottom: solid 1px var(--editorColor2);
}

/*  */
.frame-inner-up {
  position: absolute;
  bottom: 50%;
  width: 100%;
  z-index: 0;
  transition: 0.3s;
}
.frame-inner-down {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
  transition: 0.3s;
}

/* EDITOR - timeline - rullers */
.rullers {
  background: var(--editorColor3);
  color: var(--editorColor5);
  width: fit-content;
}
.timeline-ruller {
  display: flex;
  width: fit-content;
  z-index: 1;
}
.ruller-frame {
  border-bottom: solid 1px var(--editorColor3);
  border-left: solid 1px var(--editorColor4);
  height: 2rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EDITOR - channels */
.channel {
  width: 9.5rem;
  padding: 0.4rem;
  position: relative;
  text-align: left;
}
.channel span {
  margin-right: 2rem;
}

/* BUTTONS */
/* BUTTONS - general use button */
.block-btn {
  border-radius: 20px;
  background: var(--editorColor2);
  color: var(--editorColor5);
  padding: 0.5rem;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-btn:hover {
  background: var(--editorColor5);
  color: var(--editorColor2);
}
/* BUTTONS - in frame on/of */
.on-off-btn {
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  color: var(--editorColor1);
  opacity: 0.5;
}
.on-off-btn:hover {
  opacity: 1;
}
/* BUTTONS - in frame value control */
.up-btn,
.down-btn {
  z-index: 2;
  background: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.up-btn:hover,
.down-btn:hover {
  color: var(--editorColor1);
}
/* BUTTONS - in channel controls */
.copy-btn,
.minimize-btn,
.paste-btn,
.formula-btn {
  position: absolute;
  color: var(--editorColor1);
  background: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
}
.copy-btn {
  top: 2rem;
  left: 0.5rem;
  font-size: 1.5rem;
}
.paste-btn {
  top: 2rem;
  left: 2.5rem;
  font-size: 1.5rem;
}
.formula-btn {
  top: 2rem;
  left: 4.5rem;
  font-size: 1.5rem;
}
.minimize-btn {
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}
.minimize-btn:hover,
.copy-btn:hover,
.paste-btn:hover,
.formula-btn:hover {
  color: var(--editorColor5);
  background: var(--editorColor1);
}
/* BUTTONS - 3d buttom in editor */
.btn-3d,
.reset-btn,
.transitions-btn,
.presets-btn {
  font-size: 2rem;
  padding: 0.1rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.btn-3d span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s;
}
.btn-3d svg {
  opacity: 0;
  transition: 0.2s;
  scale: 1.5;
}
/*  */
.btn-3d:hover svg {
  animation: spin 3s infinite linear alternate-reverse;
  opacity: 1;
  scale: 1;
}
.btn-3d:hover span {
  opacity: 0.3;
}
.transitions-btn svg,
.presets-btn svg {
  scale: 0.8;
}

/* max value input */
.max-value-input input {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--editorColor2);
  border: none;
  margin: 0 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.max-value-input input:focus {
  outline: none;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}
.footer-spacer {
  width: 100%;
  height: 1rem;
}

/* 3d live demo */
.scene-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 8rem);
}
canvas {
  background: black;
  position: relative;
}

/* 3d live menu */
.live-menu-container {
  /* background: red; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.live-menu {
  background: var(--editorColor5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0 0 20px 20px;
  border-bottom: solid 1px var(--editorColor3);
  border-right: solid 1px var(--editorColor3);
  border-left: solid 1px var(--editorColor3);
  width: calc(100vw - 1rem);
  max-width: 30rem;
}
/* .live-menu div,
.live-menu button {
  margin: 0 0.2rem;
} */
.live-time-display {
  border-radius: 20px;
  background: var(--editorColor2);
  transition: 0.2s;
  font-size: 1rem;
  color: var(--editorColor5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 5.5rem;
}
.live-time-display svg {
  margin-right: 0.2rem;
}
.live-btn {
  border-radius: 50%;
  margin: 0;
}
.live-btn svg {
  scale: 1.5;
}
.pause-btn {
  background: var(--red);
  color: var(--editorColor2);
}
.play-btn {
  background: var(--green);
  color: var(--editorColor2);
}

/* live 3d view indicator */
/*  */
.value-indicators-container {
  position: fixed;
  bottom: 1.78rem;
  right: 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s;
}
.indicators-btn {
  margin: 0.5rem;
  font-size: 1.2rem;
}
.value-indicators {
  pointer-events: none;
  background: var(--editorColor5);
  border-radius: 20px 0 0 0;
  padding: 0.5rem;
  display: flex;
  border-top: solid 1px var(--editorColor2);
  border-left: solid 1px var(--editorColor2);
}
.first-indicator {
  border-radius: 20px 0 0 0;
}
.value-indicator-container {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
  position: relative;
}
.value-indicator {
  width: 3rem;
  background: var(--editorColor6);
  transition: 0.1s;
}
.indicator-Value {
  position: absolute;
  bottom: 8rem;
}
.indicator {
  margin: 0.3rem;
  padding-top: 0.2rem;
  background: var(--editorColor4);
}
.indicator-name {
  margin: 0 0.2rem;
  font-size: 0.8rem;
}

/*  */
.back-to-editor-btn {
  position: absolute;
  top: -3rem;
  left: 5rem;
  z-index: 5;
}

.btn-container {
  /* background: red; */
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* transitions picker */
.transitions-picker-container,
.presets-btn-container {
  position: relative;
  z-index: 2;
}
.transitions-picker {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
}

.transition {
  margin: 0.5rem;
}

/* unclickable button */

.unclickable-btn {
  background: var(--editorColor4);
  color: var(--editorColor3);
}
.unclickable-btn:hover {
  background: var(--editorColor4);
  color: var(--editorColor3);
}
/* presets picker */
.presets-btn-container {
}
.presets-picker {
  position: absolute;
  list-style: none;
  top: 3.2rem;
  left: 0.5rem;
  /* background: var(--editorColor2); */
  width: max-content;
}
.preset {
}
.preset-btn {
  width: 100%;
  text-align: left;
  background: var(--editorColor2);
  padding: 0.2rem;
}
.preset-btn:hover {
  background: var(--editorColor5);
  color: var(--editorColor2);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .settings-panel {
    flex-direction: column;
    justify-content: center;
  }
  .settings-panel .block-btn {
    height: auto;
  }
  .editor-control-panel {
    flex-direction: column-reverse;
  }
  .back-to-editor-btn {
    transform: translateY(calc(100vh - 8rem)) translateX(-4rem);
  }

  .features-list {
    width: 60%;
    text-align: center;
  }
  .welcome-page ul {
    list-style: none;
    text-align: center;
    width: 100%;
  }
  .background {
    width: 100vw;
    opacity: 0.45;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    font-size: 13px;
  }
  .time-display {
    scale: 1;
  }

  .header h2 {
    font-size: 3.5vw;
  }
  .editor,
  .settings-panel {
    margin: 1rem 1rem;
  }
  .transitions-picker {
    display: flex;
    flex-direction: column;
  }
  .features-list {
    width: 90%;
  }
  .background {
    display: none;
  }
}

/*  */
/* LOAIDNG */
/*  */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  position: relative;
}

.loading span {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
}
.cube-container {
  width: 10rem;
  height: 10rem;
  perspective: 600px;
  perspective-origin: 50% 50%;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 5s infinite ease-in-out alternate-reverse;
}

.cube-face-1,
.cube-face-2,
.cube-face-3,
.cube-face-4,
.cube-face-5,
.cube-face-6 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0.7;
}

.cube-face-1 {
  background-color: var(--red); /* Red */
  transform: translateZ(5rem);
}

.cube-face-2 {
  background-color: var(--blueTransperent); /* Green */
  transform: rotateY(90deg) translateZ(5rem);
}

.cube-face-3 {
  background-color: var(--red); /* Blue */
  transform: rotateY(180deg) translateZ(5rem);
}

.cube-face-4 {
  background-color: var(--blueTransperent); /* Yellow */
  transform: rotateY(-90deg) translateZ(5rem);
}

.cube-face-5 {
  background-color: var(--blueTransperent); /* Magenta */
  transform: rotateX(90deg) translateZ(5rem);
}

.cube-face-6 {
  background-color: var(--blueTransperent); /* Cyan */
  transform: rotateX(-90deg) translateZ(5rem);
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
