:root {
  font-size: 16px;
  /* colors */
  /* editor */
  --editorColor1: rgb(255, 255, 255);
  --editorColor2: rgb(207, 207, 207);
  --editorColor3: rgb(143, 143, 143);
  --editorColor4: rgb(95, 95, 95);
  --editorColor5: rgb(48, 48, 48);
  --editorColor6: rgb(24, 24, 24);
  --green: green;
  --red: darkRed;
  --editorTransitions: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  z-index: 1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
body {
  background: var(--editorColor6);
  color: var(--editorColor2);
}
main {
  position: relative;
  text-align: center;
  background: var(--editorColor6);
  color: var(--editorColor2);
  min-height: 100vh;
}
.header {
  padding: 1rem;
}

/* editor */

.editor {
  border-radius: 20px;
  background: var(--editorColor5);
  margin: 1rem;
  border: solid 1px var(--editorColor3);
}
.editor-control-panel {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* zoom fader */
.zoom-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  color: var(--editorColor2);
}
.zoom-container span {
  font-size: 2rem;
  color: var(--editorColor2);
  display: flex;
  align-items: center;
}
.zoom-fader-container {
  /* margin: 1rem; */
  width: 15.3rem;
  height: 2rem;
  background: var(--editorColor2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.zoom-fader {
  width: 15rem;
  height: 2rem;

  display: flex;
  align-items: center;
}
.zoom-fader-handle {
  background: var(--editorColor4);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
.zoom-fader-handle:hover {
  background: var(--editorColor3);
}
.zoom-fader-handle:active {
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 1rem var(--editorColor5);
}

/* timeline */
.timeline-container {
  display: flex;
  background: var(--editorColor5);
  color: var(--editorColor1);
  border-top: solid 1px var(--editorColor3);
  border-radius: 0 0 20px 20px;
}

/* rullers */
.rullers {
  background: var(--editorColor3);
  color: var(--editorColor5);
  width: fit-content;
}
.timeline-ruller {
  display: flex;
  width: fit-content;
  z-index: 1;
}
.ruller-frame {
  /* background: rgb(5, 137, 177); */
  border-bottom: solid 1px var(--editorColor3);
  border-left: solid 1px var(--editorColor4);
  height: 1rem;
  position: relative;
  transition: 0.2s;
}
.ruller-time {
  height: 1rem;
  border-left: solid 1px var(--editorColor4);
  width: fit-content;
  transition: 0.2s;
}
.ruller-time-number {
  position: absolute;
}
/* channels */

.channel {
  width: 9.5rem;
  padding: 0.4rem;
  position: relative;
  text-align: left;
}
.channel span {
  margin-right: 2rem;
}
.frames {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  /* transform: translateY(-1rem); */
}
.frames::-webkit-scrollbar {
  background: var(--editorColor5);
  height: 1.5rem;
  border-radius: 0 0 20px 0;
  outline: solid 1px var(--editorColor3);
}
.frames::-webkit-scrollbar-thumb {
  background: var(--editorColor2);
  border-radius: 0 0 20px 0;
}

.fader-handle {
  /* width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
  position: relative;
  top: -5px;
  transition: 0.2s;
  pointer-events: none; */
}
.timeline {
  display: flex;
  width: fit-content;
  transition: var(--editorTransitions);
}
.frame,
.channel {
  transition: var(--editorTransitions);
  border-right: solid 1px var(--editorColor3);
  border-bottom: solid 1px var(--editorColor3);
}
.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame-value {
  z-index: 1;
}
.frame-inner {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  /* background: rgb(168, 19, 19, 0.5);
  background: rgba(93, 255, 247, 0.5); */
  z-index: 0;
  transition: 0.3s;
}
.on-off-btn {
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  color: var(--editorColor1);
  opacity: 0.5;
}
.on-off-btn:hover {
  opacity: 1;
}

.up-btn,
.down-btn {
  background: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-btn:hover,
.down-btn:hover {
  color: var(--editorColor1);
}
.copy-btn,
.minimize-btn {
  position: absolute;
  color: var(--editorColor1);
  background: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
}
.copy-btn {
  top: 2rem;
  left: 0.5rem;
  font-size: 1.5rem;
}
.minimize-btn {
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}
.minimize-btn:hover,
.copy-btn:hover {
  color: var(--editorColor5);
  background: var(--editorColor1);
}
/* .copy-btn {
  position: fixed;
  transform: translateY(8rem) translateX(-5rem);
} */

.block-btn {
  border-radius: 20px;
  background: var(--editorColor2);
  color: var(--editorColor5);
  padding: 0.5rem;
  margin: 0 0.5rem;
}
.block-btn:hover {
  background: var(--editorColor5);
  color: var(--editorColor2);
}
.editor-link {
  text-decoration: none;
  padding: 0.7rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-settings-form {
  border: solid 1px var(--editorColor3);

  border-radius: 20px;
  background: var(--editorColor5);
  color: var(--editorColor6);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.inputs-container {
  display: flex;
}

.fps-input,
.frames-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 15.3rem; */
  /* height: 2rem; */
  background: var(--editorColor2);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.inputs-container input {
  border: 0;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
  background: var(--editorColor5);
  color: var(--editorColor2);
  width: 10rem;
  font-size: 1rem;
  transition: 0.2s;
}
.inputs-container input:focus {
  color: var(--editorColor5);
  background: var(--editorColor2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0.3rem;
}
.footer-spacer {
  width: 100%;
  height: 1rem;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 13px;
  }
  .editor-control-panel {
    flex-direction: column-reverse;
    height: 8rem;
  }
}
