:root {
  /* page settings */
  font-size: 16px;
  /* page vars */
  --editorColor1: rgb(255, 255, 255);
  --editorColor2: rgb(207, 207, 207);
  --editorColor3: rgb(143, 143, 143);
  --editorColor4: rgb(95, 95, 95);
  --editorColor5: rgb(48, 48, 48);
  --editorColor6: rgb(24, 24, 24);
  --green: green;
  --red: darkRed;
  --blueTransperent: rgba(93, 255, 247, 0.5);
  --redTransperent: rgb(168, 19, 19, 0.5);
  --editorTransitions: 0.2s;
  --channelHeightOpen: 15rem;
  --channelHeightClose: 5rem;
}
/* page settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GLOBAL CSS */
a {
  text-decoration: none;
  color: var(--editorColor1);
  transition: 0.2s;
}
a:hover {
  color: var(--editorColor3);
}
.btn {
  z-index: 1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
body {
  background: var(--editorColor6);
  color: var(--editorColor2);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  text-align: center;
  background: var(--editorColor6);
  color: var(--editorColor2);
}
.header {
  padding: 1rem;
}
::-webkit-scrollbar {
  background: var(--editorColor6);
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--editorColor2);
  border-radius: 20px;
}

/* WELCOME PAGE */
.welcome-page {
  height: calc(100vh - 8rem);
  width: calc(100vw - 4rem);
  position: relative;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-page ul {
  list-style: none;
  text-align: left;
}
.welcome-page li {
  margin-bottom: 0.5rem;
}

.editor-link {
  /* text-decoration: none; */
  /* padding: 0.7rem; */
}

/* FORM */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-settings-form {
  border: solid 1px var(--editorColor3);
  border-radius: 20px;
  background: var(--editorColor5);
  color: var(--editorColor6);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.inputs-container {
  display: flex;
}
.total-time {
  color: var(--editorColor2);
  margin-bottom: 0.5rem;
}
/* FORM - inputs */
.fps-input,
.frames-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--editorColor2);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.inputs-container input {
  border: 0;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
  background: var(--editorColor5);
  color: var(--editorColor2);
  width: 10rem;
  transition: 0.2s;
}
.inputs-container input:focus {
  color: var(--editorColor5);
  background: var(--editorColor2);
}

/* EDITOR */
.editor {
  border-radius: 20px;
  background: var(--editorColor5);
  margin: 1rem 5rem;
  border: solid 1px var(--editorColor3);
  position: relative;
}
/* EDITOR - control panel */
.editor-control-panel {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* EDITOR - control panel - time display */
.time-display {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  border-radius: 20px;
  background: var(--editorColor2);
  transition: 0.2s;
  z-index: 2;
  font-size: 2rem;
}

/* EDITOR - control panel - zoon in/out fader */
.zoom-container {
  display: flex;
  align-items: center;
  color: var(--editorColor2);
}
.zoom-container span {
  font-size: 2rem;
  color: var(--editorColor2);
  display: flex;
  align-items: center;
}
.zoom-fader-container {
  width: 15.3rem;
  height: 2rem;
  background: var(--editorColor2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.zoom-fader {
  width: 15rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
.zoom-fader-handle {
  background: var(--editorColor4);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
.zoom-fader-handle:hover {
  background: var(--editorColor3);
}
.zoom-fader-handle:active {
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 1rem var(--editorColor5);
}

/* EDITOR - timeline */
.timeline-container {
  display: flex;
  background: var(--editorColor5);
  color: var(--editorColor1);
  border-top: solid 1px var(--editorColor3);
  border-radius: 0 0 20px 20px;
}
.frames {
  overflow-x: scroll;
  overflow-y: hidden;
}
.frames::-webkit-scrollbar {
  background: var(--editorColor5);
  height: 1.5rem;
  border-radius: 0 0 20px 0;
  outline: solid 1px var(--editorColor3);
}
.frames::-webkit-scrollbar-thumb {
  background: var(--editorColor2);
  border-radius: 0 0 20px 0;
}

.timeline {
  display: flex;
  width: fit-content;
  transition: var(--editorTransitions);
}
.frame,
.channel {
  transition: var(--editorTransitions);
  border-right: solid 1px var(--editorColor3);
  border-bottom: solid 1px var(--editorColor3);
}
.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame-value {
  z-index: 1;
}
.frame-inner-up {
  position: absolute;
  bottom: 50%;
  width: 100%;
  z-index: 0;
  transition: 0.3s;
}
.frame-inner-down {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
  transition: 0.3s;
}

/* EDITOR - timeline - rullers */
.rullers {
  background: var(--editorColor3);
  color: var(--editorColor5);
  width: fit-content;
}
.timeline-ruller {
  display: flex;
  width: fit-content;
  z-index: 1;
}
.ruller-frame {
  border-bottom: solid 1px var(--editorColor3);
  border-left: solid 1px var(--editorColor4);
  height: 2rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EDITOR - channels */
.channel {
  width: 9.5rem;
  padding: 0.4rem;
  position: relative;
  text-align: left;
}
.channel span {
  margin-right: 2rem;
}

/* BUTTONS */
/* BUTTONS - general use button */
.block-btn {
  border-radius: 20px;
  background: var(--editorColor2);
  color: var(--editorColor5);
  padding: 0.5rem;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-btn:hover {
  background: var(--editorColor5);
  color: var(--editorColor2);
}
/* BUTTONS - in frame on/of */
.on-off-btn {
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  color: var(--editorColor1);
  opacity: 0.5;
}
.on-off-btn:hover {
  opacity: 1;
}
/* BUTTONS - in frame value control */
.up-btn,
.down-btn {
  background: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-btn:hover,
.down-btn:hover {
  color: var(--editorColor1);
}
/* BUTTONS - in channel controls */
.copy-btn,
.minimize-btn {
  position: absolute;
  color: var(--editorColor1);
  background: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
}
.copy-btn {
  top: 2rem;
  left: 0.5rem;
  font-size: 1.5rem;
}
.minimize-btn {
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}
.minimize-btn:hover,
.copy-btn:hover {
  color: var(--editorColor5);
  background: var(--editorColor1);
}
/* BUTTONS - 3d buttom in editor */
.btn-3d {
  font-size: 2rem;
  padding: 0.1rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.btn-3d span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s;
}
.btn-3d svg {
  opacity: 0;
  transition: 0.2s;
  scale: 1.5;
}
.btn-3d:hover svg {
  animation: spin 3s infinite linear alternate-reverse;
  opacity: 1;
  scale: 1;
}
.btn-3d:hover span {
  opacity: 0.3;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0.3rem;
}
.footer-spacer {
  width: 100%;
  height: 1rem;
}

/* 3d live demo */
.scene-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 8rem);
}
canvas {
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .editor-control-panel {
    flex-direction: column-reverse;
    height: 8rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    font-size: 13px;
  }
  .time-display {
    scale: 1;
  }

  .header h2 {
    font-size: 3.5vw;
  }
  .editor {
    margin: 1rem 1rem;
  }
}

/* TEMPORERY! */
.back-to-editor-btn {
  position: absolute;
  top: -3rem;
  left: 5rem;
  z-index: 5;
}

.btn-container {
  /* background: red; */
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */
/* LOAIDNG */
/*  */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  position: relative;
}

.loading span {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
}
.cube-container {
  width: 10rem;
  height: 10rem;
  perspective: 600px;
  perspective-origin: 50% 50%;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 5s infinite ease-in-out alternate-reverse;
}

.cube-face-1,
.cube-face-2,
.cube-face-3,
.cube-face-4,
.cube-face-5,
.cube-face-6 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0.7;
}

.cube-face-1 {
  background-color: var(--red); /* Red */
  transform: translateZ(5rem);
}

.cube-face-2 {
  background-color: var(--blueTransperent); /* Green */
  transform: rotateY(90deg) translateZ(5rem);
}

.cube-face-3 {
  background-color: var(--red); /* Blue */
  transform: rotateY(180deg) translateZ(5rem);
}

.cube-face-4 {
  background-color: var(--blueTransperent); /* Yellow */
  transform: rotateY(-90deg) translateZ(5rem);
}

.cube-face-5 {
  background-color: var(--blueTransperent); /* Magenta */
  transform: rotateX(90deg) translateZ(5rem);
}

.cube-face-6 {
  background-color: var(--blueTransperent); /* Cyan */
  transform: rotateX(-90deg) translateZ(5rem);
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
